  /* 2xl */
/* @media (max-width: 1536px) {
    
  }
   */
  /* xl */
  /* @media (max-width: 1280px) {
    
  } */
  
  /* lg */
  /* @media (max-width: 1024px) {
    
  } */
  
  /* md */
  /* @media (max-width: 768px) {
    
  } */
  
  /* sm */
  /* @media (max-width: 640px) {
    
  } */
  
  /* xs */
  /* @media (max-width: 475px) {
    
  } */
*{
    margin: 0;
    padding: 0;
}
body{
  background: #f0f1ed;;
}
html{
    scroll-behavior: smooth;
}
@font-face {
  font-family: GillSans;
  src: url(Gill-Sans.otf);
}
@font-face {
    font-family: TheSeasons;
    src: url(the-seasons-regular.ttf);
}
.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 2px solid red;
  }
  
  /* 2xl */
  @media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
 
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
      
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }
  }